body{
    text-align: center;
    float: right;
    background: rgb(34,195,88);
background: linear-gradient(0deg, rgba(34,195,88,1) 0%, rgba(212,45,253,1) 100%);
}

#menu{
    position: sticky;
    float: left; 
    top: 0;
    z-index: 9999;
}

iframe{
    height: 700px;
    width: 700px;
}
marquee{
    background-color: darkblue;
    color: aliceblue;
}

.navbar-header{
    background-color: black;
}

hr{
    width: 230px;
    transform-style: preserve-3d;
}

.announcements_head img{
    width: 100%;
    padding: 5px;
}


.campus_life_div{
    border: 1px solid turquoise;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.campus_life_div h5, .campus_life_div p{
  float: none;
  font-size: 15px;
  margin-left: 20px;
}

.announcements_head{
    width: 100%;
    display: inline-block;
    padding: 6px 22px; 
    margin-bottom: 15px; 
    border-radius: 20px;
    font-size: 15px;
}

.announcements_head i{
float: right;
}

.announcements_head span{
    float: left;
}


